<footer class="footer">
  <div class="footer__top">
    <div class="container footer__top-container">
      <div class="footer__logo-social">
        <img class="footer__logo" src="img/logo.svg" alt="Логотип сайта" />

        <ul class="footer__list footer__list_social">
          <li class="footer__item footer__item_social">
            <a
              href="https://ok.ru"
              class="footer__link footer__link-social"
              target="_blank"
              aria-label="перейти на нашу страничку в одноклассниках"
            >
              <span class="footer__link-social-wrap">
                <span class="footer__link-social-content">
                  <svg class="footer__link-svg">
                    <use xlink:href="img/sprite.svg#ok" />
                  </svg>
                </span>
              </span>
            </a>
          </li>
          <li class="footer__item footer__item_social">
            <a
              href="https://vk.com"
              class="footer__link footer__link-social"
              target="_blank"
              aria-label="перейти на нашу страничку ВКонтакте"
            >
              <span class="footer__link-social-wrap">
                <span class="footer__link-social-content">
                  <svg class="footer__link-svg">
                    <use xlink:href="img/sprite.svg#vk" />
                  </svg>
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <ul class="footer__list footer__list_link">
        <li class="footer__item footer__item_link">
          <h2 class="footer__title">
            <a
              href="#!"
              class="footer__title-link"
              aria-label="перейти в раздел"
            >
              <span class="footer__title-wrap">
                <span class="footer__title-content">О нас</span>
              </span>
            </a>
          </h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">О компании</span>
                </span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Блог</span>
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item_link">
          <h2 class="footer__title">
            <a
              href="#!"
              class="footer__title-link"
              aria-label="перейти в раздел"
            >
              <span class="footer__title-wrap">
                <span class="footer__title-content">Услуги</span>
              </span>
            </a>
          </h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Доставка</span>
                </span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Рассрочка и кредит</span>
                </span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Сборка и установка</span>
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item_link">
          <h2 class="footer__title">
            <a
              href="#!"
              class="footer__title-link"
              aria-label="перейти в раздел"
            >
              <span class="footer__title-wrap">
                <span class="footer__title-content">Связь с нами</span>
              </span>
            </a>
          </h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Обратная связь</span>
                </span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Контакты</span>
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item_link">
          <h2 class="footer__title">
            <a
              href="cooperation.html"
              class="footer__title-link"
              aria-label="перейти в раздел"
            >
              <span class="footer__title-wrap">
                <span class="footer__title-content">Сотрудничество</span>
              </span>
            </a>
          </h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Поставщикам</span>
                </span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Оптовикам</span>
                </span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#!" class="footer__link" aria-label="перейти к разделу">
                <span class="footer__link-wrap">
                  <span class="footer__link-content">Карьера</span>
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copyright">SDP®&nbsp;&nbsp;&nbsp;2011-2021</p>
    </div>
  </div>
</footer>
