<header class="header">
  <!-- ! desktop -->
  <div class="header__top header__top_desktop">
    <div class="container header__container-top">
      <a
        href="tel:74958854547"
        class="header__phone"
        aria-label="Телефона для связи"
      >
        <span class="header__phone-wrap">
          <span class="header__phone-content">
            <svg class="header__phone-svg">
              <use xlink:href="img/sprite.svg#phone" />
            </svg>
            <span class="header__phone-tel">+7 (495) 885-45-47</span>
          </span>
        </span>
      </a>

      <ul class="header__list header__list_additional">
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">О компании</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Гарантия и возврат</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Корпоративным клиентам</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Дизайн-решение</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__middle header__middle_desktop">
    <div class="container header__container-middle">
      <a
        href="index.html"
        class="header__logo"
        aria-label="Перейти на главную страницу"
      >
        <img src="img/logo.svg" alt="Логотип сайта" />
      </a>

      <ul class="header__list header__list_main">
        <li class="header__item header__item_main">
          <a
            href="catalog.html"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Каталог</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Магазины</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Шоу-рум</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Доставка и оплата</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Дисконт</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Контакты</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__bottom header__bottom_desktop">
    <div class="container header__container-bottom">
      <form class="header__search search">
        <svg class="search__svg">
          <use xlink:href="img/sprite.svg#search" />
        </svg>
        <input
          type="search"
          class="search__input"
          placeholder="Я хочу купить..."
        />
        <button class="search__button" type="submit" aria-label="Поиска">
          <svg class="search__button-svg">
            <use
              class="search-default"
              xlink:href="img/sprite.svg#enter-search"
            />
            <use
              class="search-hover"
              xlink:href="img/sprite.svg#enter-search-hover"
            />
            <use
              class="search-focus"
              xlink:href="img/sprite.svg#enter-search-focus"
            />
            <use
              class="search-active"
              xlink:href="img/sprite.svg#enter-search-active"
            />
          </svg>
        </button>
      </form>

      <div class="header__buttons personal">
        <button
          class="personal__btn personal__btn_cabinet"
          aria-label="Личный кабинет"
        >
          <span class="personal__btn-wrap">
            <span class="personal__btn-content">
              <svg class="personal__btn-svg">
                <use xlink:href="img/sprite.svg#user" />
              </svg>
            </span>
          </span>
        </button>
        <button
          class="personal__btn personal__btn_basket"
          aria-label="Мини-корзина"
        >
          <span class="personal__btn-wrap">
            <span class="personal__btn-count">0</span>
            <span class="personal__btn-content">
              <svg class="personal__btn-svg">
                <use xlink:href="img/sprite.svg#basket" />
              </svg>
            </span>
          </span>
        </button>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_catalog">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Прямые диваны
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_card">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Прямые диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          D-31
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_cooperation">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Сотрудничество
        </a>
      </div>
    </div>
  </div>

  <!-- ! tablet -->
  <div class="header__top header__top_tablet">
    <div class="container header__container-top">
      <a
        href="tel:74958854547"
        class="header__phone"
        aria-label="Телефона для связи"
      >
        <svg class="header__phone-svg">
          <use xlink:href="img/sprite.svg#phone" />
        </svg>
        <span class="header__phone-tel">+7 (495) 885-45-47</span>
      </a>
    </div>
  </div>
  <div class="header__middle header__middle_tablet">
    <div class="container header__container-middle">
      <ul class="header__list header__list_additional">
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">О компании</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Гарантия и возврат</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Корпоративным клиентам</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Дизайн-решение</span>
            </span>
          </a>
        </li>
      </ul>

      <div class="header__buttons personal">
        <button
          class="personal__btn personal__btn_cabinet"
          aria-label="Личный кабинет"
        >
          <svg class="personal__btn-svg">
            <use xlink:href="img/sprite.svg#user" />
          </svg>
        </button>
        <button
          class="personal__btn personal__btn_basket"
          aria-label="Мини-корзина"
        >
          <span class="personal__btn-count">0</span>
          <svg class="personal__btn-svg">
            <use xlink:href="img/sprite.svg#basket" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header__bottom header__bottom_tablet">
    <div class="container header__container-bottom">
      <a
        href="index.html"
        class="header__logo"
        aria-label="Перейти на главную страницу"
      >
        <img src="img/logo.svg" alt="Логотип сайта" />
      </a>

      <ul class="header__list header__list_main">
        <li class="header__item header__item_main">
          <a
            href="catalog.html"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Каталог
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Магазины
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Шоу-рум
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Доставка и оплата
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Дисконт
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Контакты
          </a>
        </li>
      </ul>

      <form class="header__search search">
        <svg class="search__svg">
          <use xlink:href="img/sprite.svg#search" />
        </svg>
        <input
          type="search"
          class="search__input"
          placeholder="Я хочу купить..."
        />
        <button class="search__button" type="submit" aria-label="Поиска">
          <svg class="search__button-svg">
            <use
              class="search-default"
              xlink:href="img/sprite.svg#enter-search"
            />
            <use
              class="search-hover"
              xlink:href="img/sprite.svg#enter-search-hover"
            />
            <use
              class="search-focus"
              xlink:href="img/sprite.svg#enter-search-focus"
            />
            <use
              class="search-active"
              xlink:href="img/sprite.svg#enter-search-active"
            />
          </svg>
        </button>
      </form>

      <div class="header__breadcrumbs header__breadcrumbs_catalog">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Прямые диваны
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_card">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Прямые диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          D-31
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_cooperation">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Сотрудничество
        </a>
      </div>
    </div>
  </div>

  <!-- ! small-tablet -->
  <div class="header__top header__top_small-tablet">
    <div class="container header__container-top">
      <a
        href="tel:74958854547"
        class="header__phone"
        aria-label="Телефона для связи"
      >
        <svg class="header__phone-svg">
          <use xlink:href="img/sprite.svg#phone" />
        </svg>
        <span class="header__phone-tel">+7 (495) 885-45-47</span>
      </a>
    </div>
  </div>
  <div class="header__middle header__middle_small-tablet">
    <div class="container header__container-middle">
      <ul class="header__list header__list_additional">
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">О компании</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Гарантия и возврат</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Корпоративным клиентам</span>
            </span>
          </a>
        </li>
        <li class="header__item header__item_additional">
          <a
            href="#!"
            class="header__link header__link_additional"
            aria-label="Перейти в раздел"
          >
            <span class="header__link-wrap">
              <span class="header__link-text">Дизайн-решение</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__bottom header__bottom_small-tablet">
    <div class="container header__container-bottom">
      <a
        href="index.html"
        class="header__logo"
        aria-label="Перейти на главную страницу"
      >
        <img src="img/logo.svg" alt="Логотип сайта" />
      </a>

      <div class="header__buttons personal">
        <button
          class="personal__btn personal__btn_cabinet"
          aria-label="Личный кабинет"
        >
          <svg class="personal__btn-svg">
            <use xlink:href="img/sprite.svg#user" />
          </svg>
        </button>
        <button
          class="personal__btn personal__btn_basket"
          aria-label="Мини-корзина"
        >
          <span class="personal__btn-count">0</span>
          <svg class="personal__btn-svg">
            <use xlink:href="img/sprite.svg#basket" />
          </svg>
        </button>
      </div>

      <ul class="header__list header__list_main">
        <li class="header__item header__item_main">
          <a
            href="catalog.html"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Каталог
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Магазины
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Шоу-рум
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Доставка и оплата
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Дисконт
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Контакты
          </a>
        </li>
      </ul>

      <form class="header__search search">
        <svg class="search__svg">
          <use xlink:href="img/sprite.svg#search" />
        </svg>
        <input
          type="search"
          class="search__input"
          placeholder="Я хочу купить..."
        />
        <button class="search__button" type="submit" aria-label="Поиска">
          <svg class="search__button-svg">
            <use
              class="search-default"
              xlink:href="img/sprite.svg#enter-search"
            />
            <use
              class="search-hover"
              xlink:href="img/sprite.svg#enter-search-hover"
            />
            <use
              class="search-focus"
              xlink:href="img/sprite.svg#enter-search-focus"
            />
            <use
              class="search-active"
              xlink:href="img/sprite.svg#enter-search-active"
            />
          </svg>
        </button>
      </form>

      <div class="header__breadcrumbs header__breadcrumbs_catalog">
        <a href="#!" class="header__breadcrumbs-link">Главная </a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог </a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны </a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Прямые диваны
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_card">
        <a href="#!" class="header__breadcrumbs-link">Главная </a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог </a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны </a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link"> Прямые диваны </a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          D-31
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_cooperation">
        <a href="#!" class="header__breadcrumbs-link"> Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Сотрудничество
        </a>
      </div>
    </div>
  </div>

  <!-- ! mobile -->
  <div class="header__top header__top_mobile">
    <div class="container header__container-top">
      <a
        href="index.html"
        class="header__logo"
        aria-label="Перейти на главную страницу"
      >
        <img src="img/logo.svg" alt="Логотип сайта" />
      </a>
    </div>
  </div>
  <div class="header__middle header__middle_mobile">
    <div class="container header__container-middle">
      <a
        href="tel:74958854547"
        class="header__phone"
        aria-label="Телефона для связи"
      >
        <svg class="header__phone-svg">
          <use xlink:href="img/sprite.svg#phone" />
        </svg>
        <span class="header__phone-tel">+7 (495) 885-45-47</span>
      </a>

      <div class="header__buttons personal">
        <button
          class="personal__btn personal__btn_cabinet"
          aria-label="Личный кабинет"
        >
          <svg class="personal__btn-svg">
            <use xlink:href="img/sprite.svg#user" />
          </svg>
        </button>
        <button
          class="personal__btn personal__btn_basket"
          aria-label="Мини-корзина"
        >
          <span class="personal__btn-count">0</span>
          <svg class="personal__btn-svg">
            <use xlink:href="img/sprite.svg#basket" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header__bottom header__bottom_mobile">
    <div class="container header__container-bottom">
      <ul class="header__list header__list_main">
        <li class="header__item header__item_main">
          <a
            href="catalog.html"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Каталог
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Магазины
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Шоу-рум
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Доставка и оплата
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Дисконт
          </a>
        </li>
        <li class="header__item header__item_main">
          <a
            href="#!"
            class="header__link header__link_main"
            aria-label="Перейти в раздел"
          >
            Контакты
          </a>
        </li>
      </ul>

      <form class="header__search search">
        <svg class="search__svg">
          <use xlink:href="img/sprite.svg#search" />
        </svg>
        <input
          type="search"
          class="search__input"
          placeholder="Я хочу купить..."
        />
        <button class="search__button" type="submit" aria-label="Поиска">
          <svg class="search__button-svg">
            <use
              class="search-default"
              xlink:href="img/sprite.svg#enter-search"
            />
            <use
              class="search-hover"
              xlink:href="img/sprite.svg#enter-search-hover"
            />
            <use
              class="search-focus"
              xlink:href="img/sprite.svg#enter-search-focus"
            />
            <use
              class="search-active"
              xlink:href="img/sprite.svg#enter-search-active"
            />
          </svg>
        </button>
      </form>

      <div class="header__breadcrumbs header__breadcrumbs_catalog">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Прямые диваны
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_card">
        <a href="#!" class="header__breadcrumbs-link">Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Каталог</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link">Диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a href="#!" class="header__breadcrumbs-link"> Прямые диваны</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          D-31
        </a>
      </div>

      <div class="header__breadcrumbs header__breadcrumbs_cooperation">
        <a href="#!" class="header__breadcrumbs-link"> Главная</a>
        <span class="header__breadcrumbs-slash">/</span>
        <a
          href="#!"
          class="header__breadcrumbs-link header__breadcrumbs-link_active"
        >
          Сотрудничество
        </a>
      </div>
    </div>
  </div>
</header>
